<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="Course Manager"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ZackMitchellC196"
        tools:targetApi="31">
        <activity
            android:name=".UI.UserDetails"
            android:exported="false"
            android:label="User Details"
            android:parentActivityName=".UI.MainActivity"
            android:windowSoftInputMode="adjustNothing">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".UI.StudentList"
            android:exported="false"
            android:label="Student List"
            android:parentActivityName=".UI.MainActivity"
            android:windowSoftInputMode="adjustNothing">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <receiver
            android:name=".Receiver"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".UI.AssessmentList"
            android:exported="false"
            android:label="Assessment List"
            android:parentActivityName=".UI.MainActivity"
            android:windowSoftInputMode="adjustNothing">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".UI.AssessmentDetails"
            android:exported="false"
            android:label="Assessment Details"
            android:parentActivityName=".UI.AssessmentList"
            android:windowSoftInputMode="adjustNothing">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".UI.CourseList"
            android:exported="false"
            android:label="Course List"
            android:parentActivityName=".UI.MainActivity"
            android:windowSoftInputMode="adjustNothing">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".UI.CourseDetails"
            android:exported="false"
            android:label="Course Details"
            android:parentActivityName=".UI.TermDetails"
            android:windowSoftInputMode="adjustNothing">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".UI.TermDetails"
            android:exported="false"
            android:label="Term Details"
            android:parentActivityName=".UI.TermList"
            android:windowSoftInputMode="adjustNothing">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".UI.TermList"
            android:exported="false"
            android:label="Term List"
            android:parentActivityName=".UI.MainActivity"
            android:windowSoftInputMode="adjustNothing">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".UI.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
    </application>

</manifest>